<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vision App</title>
    <link rel="stylesheet" href="resources/css/style_index.css" />
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
  </head>
  <body>

    <div class="body_content">
      <header>
        <div class="header_content">
          <a href="/"><h3>Vision App</h3></a>
          <nav>
            <ul>
                <li><a href="/nuestros_servicios">Servicios</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="/chat">ChatAi</a></li>
            </ul>
          </nav>
          <% if (logb) { %>
                    <h6 class="bienvenido">Bienvenido <%= name %></h6>
                    <nav><li class="cerrar"><a href="/logout">Cerrar sesión</a></li></nav>
                <% } else { %>
                    <h6 class="bienvenido"><%= name %></h6>
                    <nav><li class="cerrar"><a href="/login">LogIn/SignIn</a></li></nav>
            <% } %>
          <h3><a href="">Work With Us</a></h3>
        </div>
      </header>

      <span class="span_categories">Categorias</span>
      <hr class="separator" />

      <section class="nav_bar">
        <nav>
          <ul>
            <li class="li_item"><a href="/">HOME</a></li>
            <li class="li_item"><a href="/parque">PERFIL DEL PARQUE</a></li>
            <li class="li_item"><a href="/estadisticas">TUS ESTADISTICAS</a></li>
            <li class="li_item"><a href="/informes">INFORMES</a></li>
            <li class="li_item"><a href="/citas">PROGRAMAR CITAS</a></li>
            <li class="li_item"><a href="/servicio">SERVICIO AL CLIENTE</a></li>
            <li class="li_item"><a href="/chat">VISION AI.CHAT</a></li>
          </ul>
        </nav>
      </section>

      <section class="news_container">
        <div class="row">
          <div class="new">
            <div class="img_container">
              <img
                src="./../public/imagenes/img1.jpeg"
                alt="Solar Panel"
              />
            </div>
            <div class="text_container">
              <h3>Termografia como herramienta</h3>
              <span
                >La termografía en paneles solares es una técnica avanzada para detectar problemas de sobrecalentamiento y fallas eléctricas. Utilizando cámaras infrarrojas, los técnicos pueden visualizar puntos calientes en los módulos solares, indicando áreas con deficiencias en la eficiencia energética o daños potenciales. Esta herramienta es esencial para el mantenimiento preventivo.</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img
                src="./../public/imagenes/img9.jpeg"
                alt="Solar Panel"
              />
            </div>
            <div class="text_container">
              <h3>Mantenimiento no invasivo</h3>
              <span
                >Mediante la termografía, se puede realizar un monitoreo no invasivo de los paneles solares. Esta técnica permite identificar irregularidades en la distribución de temperatura, revelando conexiones defectuosas, fusibles dañados o problemas de sombreado. Así, se asegura el funcionamiento óptimo del sistema solar, maximizando su rendimiento y vida útil.</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img src="./../public/imagenes/img8.jpeg" alt="">
            </div>
            <div class="text_container">
              <h3>Inspecciones a plantas solares</h3>
              <span
                >La termografía infrarroja es crucial para la inspección de grandes plantas solares. Permite a los operadores localizar rápidamente áreas problemáticas en extensas instalaciones, ahorrando tiempo y recursos en el diagnóstico de fallos. Esto contribuye a una rápida intervención y reparación, manteniendo alta la producción de energía.</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="new">
            <div class="img_container">
              <img src="./../public/imagenes/img5.jpeg" alt="">
            </div>
            <div class="text_container">
              <h3>Analisis termográfico</h3>
              <span
                >Los análisis termográficos en paneles solares también son valiosos para la validación de instalaciones nuevas. Aseguran que todos los componentes funcionen adecuadamente desde el inicio, identificando posibles defectos de fabricación o instalación. Esta etapa inicial es crucial para evitar pérdidas de eficiencia y garantizar una operación segura.</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img src="./../public/imagenes/img3.webp" alt="">
            </div>
            <div class="text_container">
              <h3>Efectividad</h3>
              <span
                >Además de identificar problemas, la termografía permite evaluar la eficacia de las soluciones aplicadas a paneles solares. Después de reparaciones o ajustes, una nueva inspección termográfica puede confirmar la resolución de los puntos calientes, validando la efectividad de las intervenciones y asegurando el retorno a la operatividad plena.</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img src="./../public/imagenes/img2.webp" alt="">
            </div>
            <div class="text_container">
              <h3>Optimizacion</h3>
              <span
                >La termografía en paneles solares no solo se enfoca en la detección de fallos. También es una herramienta poderosa para la optimización energética. Analizando patrones de temperatura, los especialistas pueden sugerir mejoras en la configuración o el entorno de los paneles, como ajustes en la inclinación o la eliminación de obstáculos que provocan sombras, mejorando así la generación de energía.</span
              >
            </div>
          </div>
        </div>
      </section>

    </div>

    <footer>
      <p>
        &copy; 2024 Vision App Laboratorio de innovación y desarrollo Factor de
        Producción SAS
      </p>
      <p>Teléfono: 3013354020 Email: ing.rafaeldh@gmail.com</p>
    </footer>
  </body>
</html>
