<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style_index.css" />
  </head>
  <body>
    <div class="body_content">
      <header>
        <div class="header_content">
          <h3>Vision App</h3>
          <nav>
            <ul>
              <li><a href="#servicios">Servicios</a></li>
              <li><a href="#nosotros">Nosotros</a></li>
              <li><a href="#contacto">Contacto</a></li>
              <li><a href="/bitacora">Bitacora</a></li>
              <li><a href="/register">Registro</a></li>
            </ul>
          </nav>
          <h3><a href="">Work With Us</a></h3>
        </div>
      </header>

      <span class="span_categories">Categories</span>
      <hr class="separator" />

      <section class="nav_bar">
        <nav>
          <ul>
            <li class="li_item"><a href="">HOME</a></li>
            <li class="li_item"><a href="">PERFIL DEL PARQUE</a></li>
            <li class="li_item"><a href="">TUS ESTADISTICAS</a></li>
            <li class="li_item"><a href="">INFORMES</a></li>
            <li class="li_item"><a href="">PROGRAMAR CITAS</a></li>
            <li class="li_item"><a href="">SERVICIO AL CLIENTE</a></li>
            <li class="li_item"><a href="">VISION AI.CHAT</a></li>
          </ul>
        </nav>
      </section>

      <section class="news_container">
        <div class="row">
          <div class="new">
            <div class="img_container">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Fixed_Tilt_Solar_panel_at_Canterbury_Municipal_Building_Canterbury_New_Hampshire.jpg"
                alt="Solar Panel"
              />
            </div>
            <div class="text_container">
              <span
                >How We Revolutionize the Customer Experience Using Thermal
                Drones</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img
                src="https://www.eltiempo.com/files/article_main_1200/uploads/2023/03/27/64220d5197a66.jpeg"
                alt="Solar Panel"
              />
            </div>
            <div class="text_container">
              <span
                >How We Revolutionize the Customer Experience Using Thermal
                Drones</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img src="https://cdn.shopify.com/s/files/1/0013/4755/1285/files/placas_solares_600x600.jpg?v=1649185061" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="new"></div>
          <div class="new"></div>
          <div class="new"></div>
        </div>
      </section>

      <!-- <section id="banner">
        <h2>
          Bienvenido a nuestra App para la gestión de mantenimiento de paneles
          solares
        </h2>
        <p>Optimizamos el rendimiento y la eficiencia de tus paneles solares</p>
      </section>
  
      <section id="servicios">
        <h2>Servicios</h2>
        <p>
          Ofrecemos una amplia gama de servicios para asegurar el buen
          funcionamiento de tus paneles solares:
        </p>
        <ul>
          <li>Mantenimiento preventivo</li>
          <li>Reparación de averías</li>
          <li>Optimización de rendimiento</li>
          <li>Instalación de nuevos paneles</li>
        </ul>
      </section>
  
      <section id="nosotros">
        <h2>Nosotros</h2>
        <p>
          Somos un equipo de profesionales altamente capacitados y comprometidos
          con la sostenibilidad y el cuidado del medio ambiente. Nuestra misión es
          garantizar que tus paneles solares operen de manera eficiente y
          contribuyan al uso de energía limpia.
        </p>
      </section>
  
      <section id="contacto">
        <h2>Contacto</h2>
        <p>
          Estamos aquí para ayudarte. Contáctanos para obtener más información o
          programar un servicio.
        </p>
        <address>
          <p>
            Dirección: Laboratorio de innovación y desarrollo Factor de Producción
            SAS
          </p>
          <p>Teléfono: 3013354020</p>
          <p>Email: ing.rafaeldh@gmail.com</p>
        </address>
      </section> -->
    </div>

    <footer>
      <p>
        &copy; 2024 Vision App Laboratorio de innovación y desarrollo Factor de
        Producción SAS
      </p>
      <p>Teléfono: 3013354020 Email: ing.rafaeldh@gmail.com</p>
    </footer>
  </body>
</html>
