<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vision App</title>
    <link rel="stylesheet" href="resources/css/style_index.css" />
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
  </head>
  <body>

    <div class="body_content">
      <header>
        <div class="header_content">
          <a href="/"><h3>Vision App</h3></a>
          <nav>
            <ul>
                <li><a href="/nuestros_servicios">Servicios</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="/chat">ChatAi</a></li>
            </ul>
          </nav>
          <% if (logb) { %>
                    <h6 class="bienvenido">Bienvenido <%= name %></h6>
                    <nav><li class="cerrar"><a href="/logout">Cerrar sesión</a></li></nav>
                <% } else { %>
                    <h6 class="bienvenido"><%= name %></h6>
                    <nav><li class="cerrar"><a href="/login">LogIn/SignIn</a></li></nav>
            <% } %>
          <h3><a href="">Work With Us</a></h3>
        </div>
      </header>

      <span class="span_categories">Categorias</span>
      <hr class="separator" />

      <section class="nav_bar">
        <nav>
          <ul>
            <li class="li_item"><a href="/">HOME</a></li>
            <li class="li_item"><a href="/parque">PERFIL DEL PARQUE</a></li>
            <li class="li_item"><a href="/estadisticas">TUS ESTADISTICAS</a></li>
            <li class="li_item"><a href="/informes">INFORMES</a></li>
            <li class="li_item"><a href="/citas">PROGRAMAR CITAS</a></li>
            <li class="li_item"><a href="/servicio">SERVICIO AL CLIENTE</a></li>
            <li class="li_item"><a href="/chat">VISION AI.CHAT</a></li>
          </ul>
        </nav>
      </section>

      <section class="news_container">
        <div class="row">
          <div class="new">
            <div class="img_container">
              <img
                src="./../public/imagenes/img1.jpeg"
                alt="Solar Panel"
              />
            </div>
            <div class="text_container">
              <span
                >How We Revolutionize the Customer Experience Using Thermal
                Drones</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img
                src="./../public/imagenes/img9.jpeg"
                alt="Solar Panel"
              />
            </div>
            <div class="text_container">
              <span
                >How We Revolutionize the Customer Experience Using Thermal
                Drones</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img src="./../public/imagenes/img8.jpeg" alt="">
            </div>
            <div class="text_container">
              <span
                >How We Revolutionize the Customer Experience Using Thermal
                Drones</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="new">
            <div class="img_container">
              <img src="./../public/imagenes/img5.jpeg" alt="">
            </div>
            <div class="text_container">
              <span
                >How We Revolutionize the Customer Experience Using Thermal
                Drones</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img src="./../public/imagenes/img3.webp" alt="">
            </div>
            <div class="text_container">
              <span
                >How We Revolutionize the Customer Experience Using Thermal
                Drones</span
              >
            </div>
          </div>
          <div class="new">
            <div class="img_container">
              <img src="./../public/imagenes/img2.webp" alt="">
            </div>
            <div class="text_container">
              <span
                >How We Revolutionize the Customer Experience Using Thermal
                Drones</span
              >
            </div>
          </div>
        </div>
      </section>

    </div>

    <footer>
      <p>
        &copy; 2024 Vision App Laboratorio de innovación y desarrollo Factor de
        Producción SAS
      </p>
      <p>Teléfono: 3013354020 Email: ing.rafaeldh@gmail.com</p>
    </footer>
  </body>
</html>
