<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style_nuestros_servicios.css" />
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Nuestros Servicios</title>
</head>

<body>
   <div class="body_content">
      <header>
        <div class="header_content">
          <a href="/"><h3>Vision App</h3></a>
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
            </ul>
          </nav>
          <h3><a href="">Work With Us</a></h3>
        </div>
      </header>

    <main>
        <section id="servicios" class="servicios-section">
    <h2>Nuestros Servicios</h2>
    <div class="servicios-container">
        <div class="servicio-card">
            <h3>Identificación de Daños con Drones</h3>
            <p>Identificación de daños mediante fotografía térmica de drones, para diagnósticos precisos y rápidos.</p>
        </div>
        <div class="servicio-card">
            <h3>Trazabilidad del Parque</h3>
            <p>Control y seguimiento completo del parque para una gestión eficiente.</p>
        </div>
        <div class="servicio-card">
            <h3>Inventario y Gestión de Activos</h3>
            <p>Gestión detallada de inventarios para optimizar el uso de recursos y activos.</p>
        </div>
        <div class="servicio-card">
            <h3>Estadísticas Detalladas</h3>
            <p>Análisis profundo con estadísticas para tomar decisiones informadas.</p>
        </div>
        <div class="servicio-card">
            <h3>Acceso 24/7</h3>
            <p>Acceso constante a los datos y gestiones del parque, disponible 24/7.</p>
        </div>
    </div>
</section>

    </main>
   </div>
    <footer>
      <p>
        &copy; 2024 Vision App Laboratorio de innovación y desarrollo Factor de
        Producción SAS
      </p>
      <p>Teléfono: 3013354020 Email: ing.rafaeldh@gmail.com</p>
    </footer>
</body>
</html>