<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style_index.css" />
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Servicio al cliente</title>

    <style>
        body {
            font-family: 'JetBrains Mono';
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: aliceblue;
            text-align: center;
        }
    </style>
</head>


<body>
   <div class="body_content">
      <header>
        <div class="header_content">
          <a href="/"><h3>Vision App</h3></a>
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
            </ul>
          </nav>
          <h3><a href="">Work With Us</a></h3>
        </div>
      </header>

    <main>
        <section class="hero">
            <div class="container">
                <h3>Bienvenido al Servicio al Cliente</h3>
                <p>Estamos aquí para ayudarte. ¿En qué podemos ayudarte hoy?</p>
            </div>
        </section>

        <section class="faq">
            <div class="container">
                <h3>Preguntas Frecuentes</h3>
                <div class="faq-item">
                    <h3>¿Cómo puedo contactar al servicio al cliente?</h3>
                    <p>Puedes contactarnos por teléfono al 3013354020 o por correo electrónico a ing.rafaeldh@gmail.com</p>
                </div>
                <div class="faq-item">
                    <h3>¿Cuáles son sus horarios de atención?</h3>
                    <p>Nuestro servicio al cliente está disponible de lunes a viernes de 8:00 a 17:00.</p>
                </div>
                <!-- Agrega más preguntas frecuentes según sea necesario -->
            </div>
        </section>

        <section class="contact">
            <div class="container">
                <h3>Contacto</h3>
                <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
                
            </div>
    </main>
   </div>
    <footer>
      <p>
        &copy; 2024 Vision App Laboratorio de innovación y desarrollo Factor de
        Producción SAS
      </p>
      <p>Teléfono: 3013354020 Email: ing.rafaeldh@gmail.com</p>
    </footer>
</body>
</html>